<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ServerName" value=".\SQLEXPRESS" />
    <add key="BackupFileName" value="TeamMashup-OnDemand-2013-11-28-11-57.bak" />
    <add key="DatabaseName" value="TeamMashup_Restored" />
    <add key="LoginName" value="teammashup" />
    <add key="LoginPassword" value="test1234" />
    <add key="SqlServiceName" value="MSSQL$SQLEXPRESS" />
    <add key="SiteName" value="teammashup2" />
    <add key="DeploymentPath" value="D:\Deployments\TeamMashup\Web" />
    <add key="SitePort" value="8082" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>