@using (Ajax.BeginForm("AddClaimInline", null, new AjaxOptions { OnSuccess = "onClaimAddedInlineSuccess(data, status, xhr)", UpdateTargetId = "addClaimInlineForm" }, new { @class = "form-inline", role = "form" }))
{
    @Html.ValidationSummary(true)
    
    <div class="form-group">
        <label class="sr-only" for="name">Claim name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Enter claim name" />
        <input type="hidden" id="scope" name="scope" value="Platform"/>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
}